<!DOCTYPE html>
<html ng-app="menuApp" ng-controller="menu" ng-cloak>
<head>
	<title>King Pizza and Fried Chicken</title>
	<link href="https://fonts.googleapis.com/css?family=Cuprum|Pacifico" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>

	<div id="back" data="main" ng-controller="nav" ng-click='click($event)'></div>
	<div id="checkout"></div>

	<div class="dish menuImg"></div>

	<div class="banner"><span>{{name}}</span></div>

	<div id="select" ng-controller="nav">
		<div id="mainMenu" data="true">
			<div ng-repeat="mainMenu in mainMenus" id="{{ mainMenu.type }}" class="option" ng-click='click($event)'>
				<div id="{{ mainMenu.icon }}" class="icon"></div>
				<div>{{mainMenu.text}}</div>
			</div>
		</div> <!-- end menu -->

		<div id="menuPage" ng-controller="nav"></div>

		<div id="locationPage" ng-controller="location">
			<div id="topLiner">
				<h2>LOCATION</h2>
				<p> {{location}} </p>
				<h2>Contact</h2>
				<p> {{phone}} </p>
				<h2>Hours</h2>
				<div id="hoursPosition">
					<div class="hoursList">
						<ul>
							<li ng-repeat="hours in open"> {{hours.day}} </li>
						</ul>
					</div>
					<div class="hoursList">
						<ul>
							<li ng-repeat="hours in open"> {{hours.time}} </li>
						</ul>	
					</div>
				</div>
			</div>
		</div> <!-- end #locationPage -->

		<div id="reviewPage">
			<div id="avgRate">
				<div>
					<div id="currentRatePosition">
						<div id="currentRate"><span>4</span></div>
						<div id="rateText">
							<p>Out of</p>
							<p>5 Stars</p>
						</div>
					</div>
					<div id="starDisplay">
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="starBlack"></div>
					</div>
				</div>
				<div>
					<div id="starDisplayReview">
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
					</div>
					<div id="comment">
						<span>Tell us about your experience...</span>
					</div>
				</div>
				<div>
					<div id="starDisplayReview">
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
					</div>
					<div id="comment">
						<span>Tell us about your experience...</span>
					</div>
				</div>
				<div>
					<div id="starDisplayReview">
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
						<div class="starBlack"></div>
					</div>
					<div id="comment">
						<span>Tell us about your experience...</span>
					</div>
				</div>
			</div>
		</div> <!-- end #reviewPage -->

	</div> <!-- end #select -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="menu.js"></script>
<script type="text/javascript" src="ngMenu.js"></script>
</body>
</html>