body {
	background-image: url(img/black.jpg);
	background-repea: no-repeat;
	background-size: 100vw 100vh;
	font-family: 'Assistant', sans-serif;
}

#back,
#checkout {
	background-color: #CCC;
	background-image: url(icon/back.png);
	background-position: center; 
	background-repeat: no-repeat;
	border: solid;
	border-radius: 50px;
	display: none;
	height: 6em;
	left: 1em;
	opacity: 0.6;
	position: absolute;
	top: 1em;
	width: 6em;
}

#checkout {
	background-image: url(icon/checkout.png);
	display: block;
	left: 88vw;
}

/******************* main menu *******************/
.dish {
	background-repeat: no-repeat;
	background-size: 100vw 35vh;
	border-radius: 12px;
	height: 35vh;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 0.25s ease;
}

.locationImg {
	background-image: url(img/location.jpg);
}

.reviewImg {
	background-image: url(img/review.jpg);
}

.orderImg {
	background-image: url(img/order.jpg);
}

.menuImg {
	background-image: url(img/mainMenuPic.jpg);
}

.banner {
	align-items: center;
	color: #FE2020;
	display: flex;
	font-family: 'Playfair Display SC', serif;
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    height: 10vh;
    justify-content: center;
    margin-bottom: 0.1em;
    text-align: center;
}

#select {
	color: #FE2020;
	display: flex;
    font-size: 3.5em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 50vh;
}

/******************* main menu *******************/

#mainMenu,
#locationPage,
#reviewPage,
#menuPage {
	display: flex;
	flex-direction: column;
	overflow:auto;
	position: relative;
}

.option {
	align-items: center;
	background-color: black;
    border-radius: 10px;
    display: flex;
    height: 12vh;
    justify-content: flex-start;
    margin: 0.25vh 0;
    padding: 0 1em;
    width: 570px;
}

#carIcon,
#pizzaIcon,
#locationIcon,
#reviewIcon {
	background-color: #CCC;
	background-image: url(icon/car.png);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 1em 1em;
    border-radius: 50px;
	height: 1.4em;
    margin: 0 0.5em 0 0;
    width: 1.4em;
}

#pizzaIcon {
	background-image: url(icon/pizza.png);
}

#locationIcon {
	background-image: url(icon/location.png);
}

#reviewIcon {
	background-image: url(icon/review.png);
}

/******************* end: main menu *******************/



#locationPage,
#reviewPage,
#menuPage {
    background-color: black;
    display: none;
    font-size: 2.6rem;
    height: 38vh;
    line-height: 0.3;
    padding: 1em 2em 2em 2em;
    width: 80vw;
}

/******************* location page *******************/
.hoursList {
	display: inline-block;
	width: 46%;
}

#locationPage ul {
	line-height: 1;
	list-style: none;
}

#locationPage ul span{
	position: relative;
	left: 2px;
}
/******************* end: location page *******************/



/******************* review page *******************/
#currentRatePosition {
	display: flex;
	justify-content: center;
}

#currentRate,
#rateText {
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rateText {
    flex-direction: column;
}

#currentRate span {
	font-size: 5em;
}

#rateText p {
	font-size: 1.4em;
	margin: 1.625rem;
}

#starDisplay,
#starDisplayReview {
	clear: both;
	display: flex;
	flex-direction: row;
	height: 2em;
	justify-content: center;
}

#starDisplayReview {
	background-color: #CCC;
	margin-top: 0.5em;
}

.star {
	background-image: url(icon/star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    width: 2em;
}

.starBlack {
	background-image: url(icon/starBlack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    width: 2em;
}

#comment {
	display: flex;
    align-items: center;
    height: 7em;
    justify-content: center;
    border: 2px solid #CCC;
}

/******************* end: review page *******************/



/******************* menu page *******************/
.menuOption {
	align-items: center;
    background-color: black;
    border: 0.5vw solid #CCC;
    border-radius: 10px;
    display: flex;
    float: left;
    height: 12vh;
    justify-content: center;
    margin: 0.25vh 0.25vw;
    padding: 0 0.1em;
    width: 37vw;
}

.menuOption span {
	font-size: 1.76em;
}