body {
	background-image: url(img/black.jpg);
	background-repea: no-repeat;
	background-size: 100vw 100vh;
	font-family: 'Assistant', sans-serif;
}

.banner {
	color: #FE2020;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}

#option {
	color: #FE2020;
	display: flex;
    font-size: 3.5em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 80vh;
}

#mainMenu {
	display: flex;
	flex-direction: column;
}

.option {
	align-items: center;
	border-bottom: 2px solid #FE2020;
    border-right: 2px solid #FE2020;
    border-radius: 10px;
    display: flex;
    height: 142px;
    justify-content: center;
    margin: 46px 0;
    width: 570px;
}