body {
	background-image: url(img/black.jpg);
	background-repea: no-repeat;
	background-size: 100vw 100vh;
	font-family: 'Assistant', sans-serif;
}

#dish {
	background-image: url(img/mainMenuPic.jpg);
	background-repea: no-repeat;
	background-size: 100vw 35vh;
	border: 3px solid #FE2020;
	border-radius: 12px;
	height: 35vh;
}
.banner {
	align-items: center;
	color: #FE2020;
	display: flex;
	font-size: 4em;
	font-weight: bold;
	height: 10vh;
	justify-content: center;
	text-align: center;
}

#option {
	color: #FE2020;
	display: flex;
	font-size: 3.5em;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 50vh;
}

#mainMenu {
	display: flex;
	flex-direction: column;
}

.option {
	align-items: center;
	background-color: black;
    	border-radius: 10px;
    	display: flex;
    	height: 142px;
    	justify-content: center;
    	margin: 26px 0;
    	width: 570px;
}
